.NoteDetail {
  padding: 1rem 3rem;
  grid-row: 2 / -1;
  grid-column: 3 / 11;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  font-size: 1.2rem;
  line-height: 1.8;
}
