:root {
  --primary-color: #388e3c;
  --primary-color-light: #6abf69;
  --primary-color-dark: #00600f;
  --text-color-primary: #444;
  --text-color-secondary: #777;
  --text-color-tertiary: #999;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input[type="text"] {
  border: none;
  outline: none;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  // background-color: #def;
  line-height: 1.7;
}

.main {
  width: 60%;
  margin: auto;
}

.index-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.notes-page {
  display: grid;
  grid-template-columns: repeat(12, calc(1102px / 12));
  grid-template-rows: 60px 60px 85vh auto;
}

.note-detail-page {
  display: grid;
  grid-template-columns: repeat(12, calc(1102px / 12));
  grid-template-rows: 60px 85vh auto;
}
