.PostDetail {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;

  @media screen and (max-width: 782px) {
    width: 80%;
  }

  @media screen and (max-width: 480px) {
    width: 90%;
  }

  @media screen and (max-width: 360px) {
    width: 100%;
    padding: 1rem;
  }

  div:first-child {
    h1 {
      color: var(--text-color-primary);
      line-height: 1.5;
    }

    span {
      color: var(--text-color-tertiary);
    }
  }

  figure {
    margin: 1.5rem 0;
  }

  p {
    font-size: 1.5rem;
    color: var(--text-color-primary);
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  strong {
    display: block;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    color: var(--text-color-secondary);

    * + * {
      margin-left: 0.5rem;
    }

    span {
      padding-top: 0.1rem;
    }
  }
}
