.Anchor {
  color: var(--primary-color);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
  transition: all 0.3s;

  &:hover {
    color: lighten(#5cc870, 0.3);
  }
}
