.Notes {
  margin: 0 auto;
  width: 60%;
  overflow-y: scroll;

  @media screen and (max-width: 782px) {
    width: 80%;
  }

  @media screen and (max-width: 480px) {
    width: 90%;
  }

  @media screen and (max-width: 360px) {
    width: 100%;
  }
}

.Note {
  border-top: 1px solid lighten(#333, 70%);
  &:last-child {
    border-bottom: 1px solid lighten(#333, 70%);
  }
}
