.HeadLinePost {
  position: relative;
  margin-bottom: 6rem;
}

.HeadLineNew {
  position: relative;

  img {
    object-fit: cover;
  }

  .Title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 1rem 1.8rem;
  }

  .Background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(#000, 0.8) 10%,
      rgba(#000, 0.7) 20%,
      rgba(#000, 0.4) 40%,
      rgba(#000, 0.2) 50%
    );
  }
}

.Container {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 50;
  box-shadow: 0 10px 100px 10px rgba(#000, 0.1);
}

.Children {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;

  --color: transparent;

  &:hover {
    --color: #ccc;
  }

  @media screen and (max-width: 782px) {
    height: 40vh;
  }

  @media screen and (max-width: 480px) {
    height: 35vh;
  }

  @media screen and (max-width: 360px) {
    height: 30vh;
  }

  @media screen and (min-width: 1600px) {
    height: 70vh;
  }
}

.leftArrow {
  position: absolute;
  left: 1rem;
  top: 50%;
  padding: 1rem;
  font-size: 3rem;
  z-index: 100;
  color: var(--color);
  transition: color 0.2s;
  line-height: 1.8;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  padding: 1rem;
  font-size: 3rem;
  z-index: 100;
  transition: color 0.2s;
  color: var(--color);
  line-height: 1.8;
  cursor: pointer;
}
