.NewNoteButton {
  grid-column: 1 / span 2;
  align-self: start;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(#000, 0.1);
  color: var(--primary-color);

  span {
    display: flex;
    align-items: center;
  }
  p {
    font-size: 0.8rem;
    font-weight: 900;
    flex: 1;
    text-transform: uppercase;
    text-align: center;
  }

  &:hover {
    transform: translateY(-3px) scale(1.2);
    box-shadow: 0 5px 50px 5px rgba(#777, 0.1);
  }

  &:active {
    transform: translateY(0);
  }
}
